body{
    background: url(../img/background1.png) no-repeat center;
    margin-top: 10%;
}

.main{
    display: flex;
    justify-content: space-around;
    height: auto;
    perspective: 1000px;
}

.aside-right{
    width: 30%;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

input{
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
    height: 32px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    background: transparent;
}

::placeholder{
    color: #fff;
    font-size: 12px;
}

fieldset legend{
    font-weight: bold;
    color: blue;
    text-transform: uppercase;
}

button{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 30px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.mdp{
    color: #fff;
    text-decoration: none;
    margin-top: 70px;
    font-style: italic;
}

form{
    background: linear-gradient(rgba(61, 177, 148, 0.8),rgba(10, 13, 199, 0.8)), url(../img/background.jpg) no-repeat left;
    position: absolute;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    backface-visibility: hidden;
    padding-bottom: 5px;
}

.btn{
    margin-top: 70px;
}

form h2{
    margin: 5px 0;
    color: rgb(216, 219, 30);
}

.back{
    transform: rotateY(180deg);
}

.rodnet-icone{
    vertical-align: sub;
}

.aside-left h1{
    font-family: 'Segoe UI',sans-serif;
    font-size: 6em;
    font-weight: 900;
    margin-bottom: 25px;
    color: rgb(221, 96, 12);
    text-shadow: 0 0 5px rgba(139, 132, 55, 0.8),
                 0 0 25px rgba(221, 218, 14, 0.8),
                 0 0 200px rgba(221, 220, 0, 0.8);
}

.aside-left p{
    font-size: 1em;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: rgb(207, 164, 22);
}